<div class="navbar bg-white shadow-md fixed top-0 left-0 right-0 z-10 px-6 py-4 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/home" class="navbar-title">MyEgypt</a>
    <div class="flex flex-row bg-white p-2">
      <input type="text" placeholder="Search" class="search-input rounded-none rounded-l-full px-4 py-2">
      <button class="search-btn font-semibold">
        Search
      </button>
    </div>
    <div class="flex items-center gap-4">
      <button onclick="location.href = '/want-to-go';" class="location-wish-btn">
        Want-to-Go List
      </button>
      <a href="/dashboard" class="location-wish-btn">
        Dashboard
      </a>
    </div>
  </div>
</div>