<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>MyEgypt | Login</title>
  </head>

  <body>
    <div class="container">
      <h1>Welcome Back</h1>
    </div>
    <div class="cont">
      <% if (typeof error !== 'undefined' && error) { %>
      <div class="error-message"><%= error %></div>
      <% } %>

      <form method="POST">
        <label class="form-label" for="email">Email Address:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="<%= typeof email !== 'undefined' ? email : '' %>"
          required
        />

        <label class="form-label" for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Login" />
      </form>

      <% if (typeof showRegistrationLink !== 'undefined' &&
      showRegistrationLink) { %>
      <div class="registration-prompt">
        <p>Don't have an account?</p>
        <a href="/registration" class="btn btn-outline-light">Register Now</a>
      </div>
      <% } else { %>
      <div class="text-center mt-3">
        <a href="/registration">I don't have an account</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
