<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/globals.css" />
    <!-- <link rel="stylesheet" href="/css/registration.css" /> -->
    <title>Digital Nomads | Registration</title>
  </head>

  <body>
    <div class="portal__container">
      <figure class="portal__img--wrapper">
        <img
          src="/images/signup-background.jpg"
          alt="Vacation Plane"
          class="portal__img"
        />
      </figure>
      <div class="portal__form">
        <div class="kontainer">
          <div class="row">
            <form method="post" action="/registration">
              <% if (typeof error !== 'undefined' && error) { %>
                <div class="error__message"><%= error %></div>
              <% } %>
              <h1>Create Your Account</h1>
              <div class="form__container">
                <label class="form__label" for="email">Email</label>
                <input 
                  type="email" 
                  id="email" 
                  name="email"
                  value="<%= typeof email !== 'undefined' ? email : '' %>"
                  required 
                />

                <label class="form__label" for="password">Password</label>
                <input 
                  type="password" 
                  id="password" 
                  name="password" 
                  required 
                />

                <input type="submit" value="Register" />

                <div class="text-center mt-3">
                  <a class="text-center" href="/login">I already have an account</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>